/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: inherit;

  /* outline: 1px solid red !important; */
}

:root {
  /* Set your variables here */
  --font: "Montserrat", sans-serif;
}

/* Remove list styles from ul and ol elements */
ul,
ol {
  list-style: none;
}

/* Set the default link color */
a {
  color: inherit;
  text-decoration: none;
}

/* Set the default text color and font family */
body {
  color: #070707;
  font-family: "Poppins", sans-serif;
}

samp {
  font-family: "Press Start 2P", cursive;
}

header {
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  justify-content: space-between;
  margin-right: 2%;
  align-items: center;
  font-family: "Press Start 2P", monospace;
}

header img {
  height: 50px;
  width: 50px;
  margin-left: 2%;
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 400;
  font-size: 1rem;
}

.links-out {
  color: rgb(119, 119, 119);
}

/* <!------------ bookemon cards styles --------------!> */

section.pokemon-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  width: 100%;
  justify-content: space-between;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: var(--card);
  border-radius: 1.5rem;
  border: transparent;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 15rem;
  height: 12rem;
  margin: 4rem 0.8rem 0.8rem 0.8rem;
  padding: 1rem;
  transition: all;
  transition-duration: 0.7s;
}

.pokemon-card:hover {
  scale: 1.05;
}

.pokemon-card-image,
.pokemon-card-header,
.pokemon-card-body,
.pokemon-card-button {
  display: inherit;
  width: 100%;
  justify-content: center;
}

img.pokemon-card-image {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -90%);
}

.pokemon-card-body {
  padding: 0.5rem;
}

button[type="button"] {
  color: white;
  background-color: #4169e1;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  margin: auto;
  padding: 1rem 2rem 1rem 2rem;
  border: none;
  transition: all 0.1s linear;
  box-shadow: 0.5rem 1rem 1rem -1rem rgba(0, 0, 0, 0.5);
}

button:active {
  transform: scale(0.95);
}

button .border {
  position: absolute;
  border: 0.15em solid #4169e1;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 2rem;
  transform: translate(-50%, -50%);
}

button:hover .border {
  display: block;
  width: 9rem;
  height: 3.5rem;
}

.full-rounded {
  border-radius: 2rem;
}

.like {
  background-color: transparent;
}

.like:hover {
  cursor: pointer;
}

.pokemon-card-button > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <!-------------- comment popup-----------!> */
.hidden {
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 80%;
  width: 50%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

.popup-body img {
  width: fit-content;
  height: 422px;
  align-self: center;
}

.popup-body {
  display: flex;
  flex-direction: column;
}

.pokemon-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.popup h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.popup p {
  font-size: 16px;
  margin-bottom: 10px;
}

.popup button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-section form button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0d5410;
}

.comment-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.comment-section h3 {
  margin-top: 0;
}

.comment-section form {
  margin-top: 10px;
  display: flex;
}

input {
  margin-left: 31px;
}

input,
textarea {
  width: 300px;
  border: 2px solid #070707;
  height: 30px;
}

.comment-section form input,
.comment-section form textarea {
  flex: 1;
  margin-right: 10px;
}

.comments {
  margin-top: 10px;
}

.comment {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment p {
  margin: 0;
}

.comment .comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

#Comments {
  text-align: center;
}

.comme {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer {
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 223, 223);
}

footer a {
  text-decoration: underline;
}
